In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import os

PATH_TO_DATA = '../data/'
PATH_TO_OUTPUT_DATA = '../output-data/'

### Execution plan
So essentially we can build our covariates, then save this table. We use the table for x_train, x_test, etc.

In [4]:
BASEBALL_DATA_DF = pd.read_csv(PATH_TO_OUTPUT_DATA + 'COVARIATE_DATA_PITCHER_BATTER_v3.csv')
BASEBALL_DATA_DF['dt'] = BASEBALL_DATA_DF['dt'].apply(lambda x:
                                                        dt.datetime.strptime(str(x), '%Y-%m-%d'))
BASEBALL_DATA_DF.head(10)

,dt,Y,M,D,away_team,home_team,away_pitcher_id,home_pitcher_id,outcome,home_AVG,...,HR9_difference_PCT,home_p_K/BB,away_p_K/BB,K/BB_difference,K/BB_difference_PCT,missing_data,home_p_FIP,away_p_FIP,FIP_difference,FIP_difference_PCT
0,2001-04-01,2001,4,1,TEX,TOR,hellr001,loaie001,1,0.273459,...,31.694828,2.419355,1.474747,0.944607,39.043771,0,5.263956,5.052476,0.211481,4.017523
1,2001-04-02,2001,4,2,SLN,COL,kiled001,hampm001,1,0.290176,...,-209.167862,1.525253,3.310345,-1.785092,-117.035853,0,3.852216,4.278157,-0.425941,-11.057026
2,2001-04-02,2001,4,2,SDN,SFN,willw001,hernl003,1,0.276079,...,-49.350649,2.260274,2.055556,0.204718,9.057239,0,3.946850,4.643874,-0.697024,-17.660257
3,2001-04-02,2001,4,2,MIL,LAN,wrigj001,parkc002,1,0.254198,...,21.573164,1.750000,1.090909,0.659091,37.662338,0,4.260603,4.880234,-0.619630,-14.543251
4,2001-04-02,2001,4,2,ATL,CIN,burkj001,harnp001,0,0.272199,...,44.880785,1.543478,2.156863,-0.613384,-39.740403,0,5.442492,4.016318,1.426174,26.204427
5,2001-04-02,2001,4,2,PHI,MIA,daalo001,dempr002,0,0.258568,...,-33.599537,2.154639,1.071429,1.083211,50.273411,0,4.395960,6.063516,-1.667556,-37.933840
6,2001-04-02,2001,4,2,OAK,SEA,hudst001,garcf002,1,0.267280,...,7.825371,1.234375,2.060976,-0.826601,-66.965113,0,5.162321,4.358787,0.803534,15.565368
7,2001-04-02,2001,4,2,KCA,NYA,suppj001,clemr001,1,0.275080,...,-30.379298,2.238095,1.523810,0.714286,31.914894,0,4.361810,5.402706,-1.040896,-23.863848
8,2001-04-02,2001,4,2,CHA,CLE,welld001,colob001,0,0.285689,...,10.346258,2.163265,5.354839,-3.191573,-147.534997,0,3.992151,3.533431,0.458721,11.490562
9,2001-04-02,2001,4,2,BOS,BAL,martp001,hentp001,1,0.269526,...,36.565540,1.325843,8.875000,-7.549157,-569.385593,0,4.979004,2.204550,2.774454,55.723081

In [5]:
len(BASEBALL_DATA_DF)

46128

In [6]:
ELO = pd.read_csv(PATH_TO_OUTPUT_DATA + 'ELO_ratings.csv')
ELO['dt'] = ELO['dt'].apply(lambda x:
                                                        dt.datetime.strptime(str(x), '%Y-%m-%d'))
ELO

,dt,ANA,ARI,ATL,BAL,BOS,CHA,CHN,CIN,CLE,...,PHI,PIT,SDN,SEA,SFN,SLN,TBA,TEX,TOR,WAS
0,2000-03-29,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
1,2000-03-30,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1506.666667,1500.000000,1500.000000,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
2,2000-04-03,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1499.521075,1500.000000,1500.000000,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
3,2000-04-04,1493.405869,1500.000000,1506.660007,1493.366501,1500.000000,1493.353274,1492.919002,1493.333333,1506.633499,...,1500.000000,1500.000000,1493.406565,1500.000000,1493.399340,1506.602073,1506.640106,1506.646726,1506.653360,1493.392798
4,2000-04-05,1487.284773,1506.600660,1499.578343,1493.366501,1506.646726,1487.235115,1492.919002,1487.199160,1506.633499,...,1493.399340,1493.373095,1493.406565,1493.353274,1500.490807,1506.602073,1499.461720,1512.764885,1512.777073,1487.235942
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3612,2019-09-25,1465.504035,1509.605129,1546.251927,1439.819630,1498.437738,1445.057521,1487.762901,1497.424411,1539.697047,...,1497.340940,1453.802515,1459.197563,1467.735226,1484.399559,1549.834571,1539.611044,1479.353368,1488.631919,1542.700769
3613,2019-09-26,1462.105491,1517.632873,1550.030437,1434.941443,1504.451712,1455.360758,1479.640374,1493.326157,1529.393810,...,1492.546553,1461.925042,1455.358537,1464.484473,1490.816614,1541.806828,1545.980450,1473.339394,1493.510106,1547.495156
3614,2019-09-27,1472.718483,1517.632873,1550.030437,1434.941443,1496.461657,1464.965196,1472.158665,1489.471617,1519.789371,...,1488.084586,1469.406751,1451.737693,1461.167714,1496.711880,1541.806828,1545.980450,1481.329448,1493.510106,1551.957124
3615,2019-09-28,1469.108105,1521.786734,1542.627839,1443.851516,1487.551583,1464.965196,1481.062042,1481.945043,1514.590914,...,1493.309409,1476.933325,1447.583833,1471.683881,1491.964759,1532.903450,1550.708300,1476.463370,1488.782256,1557.155581
3616,2019-09-29,1465.726121,1525.656785,1535.818786,1452.188235,1479.214864,1469.298814,1489.411230,1488.454437,1509.781217,...,1498.131156,1470.423931,1443.713781,1467.955617,1487.540345,1524.554262,1541.693514,1485.452573,1497.797042,1561.965278

In [7]:
BASEBALL_DATA_DF['home_ELO'] = 0
BASEBALL_DATA_DF['away_ELO'] = 0

for i in range(len(BASEBALL_DATA_DF)):
    if (i % 4000 == 0):
        print(i)
    BASEBALL_DATA_DF.loc[i, 'home_ELO'] = ELO[
        ELO['dt'] == BASEBALL_DATA_DF.loc[i, 'dt']][BASEBALL_DATA_DF.loc[i, 'home_team']].values[0]
    BASEBALL_DATA_DF.loc[i, 'away_ELO'] = ELO[
        ELO['dt'] == BASEBALL_DATA_DF.loc[i, 'dt']][BASEBALL_DATA_DF.loc[i, 'away_team']].values[0]

0
4000
8000
12000
16000
20000
24000
28000
32000
36000
40000
44000

In [8]:
BASEBALL_DATA_DF['ELO_difference'] = BASEBALL_DATA_DF['home_ELO'] - BASEBALL_DATA_DF['away_ELO']

In [9]:
# SAME FUNCTION FROM EARLIER
def expected_elo_outcome(home_elo_prior, away_elo_prior, EXP_CONSTANT = 200):
    '''
        note that home and away are in AWAY @ HOME order in MLB_GAME_DF_FINAL
        dt = date of the game
        takes both teams current ELOs and computes
        check runtime!
    '''
    elo_expectation = (1 + 10**(-(home_elo_prior - away_elo_prior)/EXP_CONSTANT))**(-1) # equation works
    # function not used with compute_ELOs
    return elo_expectation

In [10]:
BASEBALL_DATA_DF['E[ELO]'] = expected_elo_outcome(BASEBALL_DATA_DF['home_ELO'], BASEBALL_DATA_DF['away_ELO'])

In [11]:
BASEBALL_DATA_DF

,dt,Y,M,D,away_team,home_team,away_pitcher_id,home_pitcher_id,outcome,home_AVG,...,K/BB_difference_PCT,missing_data,home_p_FIP,away_p_FIP,FIP_difference,FIP_difference_PCT,home_ELO,away_ELO,ELO_difference,E[ELO]
0,2001-04-01,2001,4,1,TEX,TOR,hellr001,loaie001,1,0.273459,...,39.043771,0,5.263956,5.052476,0.211481,4.017523,1496.828252,1462.450742,34.377511,0.597675
1,2001-04-02,2001,4,2,SLN,COL,kiled001,hampm001,1,0.290176,...,-117.035853,0,3.852216,4.278157,-0.425941,-11.057026,1487.470945,1529.964302,-42.493357,0.380077
2,2001-04-02,2001,4,2,SDN,SFN,willw001,hernl003,1,0.276079,...,9.057239,0,3.946850,4.643874,-0.697024,-17.660257,1544.173611,1478.296302,65.877309,0.681015
3,2001-04-02,2001,4,2,MIL,LAN,wrigj001,parkc002,1,0.254198,...,37.662338,0,4.260603,4.880234,-0.619630,-14.543251,1527.653270,1509.946671,17.706599,0.550788
4,2001-04-02,2001,4,2,ATL,CIN,burkj001,harnp001,0,0.272199,...,-39.740403,0,5.442492,4.016318,1.426174,26.204427,1544.192550,1512.406489,31.786061,0.590480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46123,2019-09-29,2019,9,29,ATL,NYN,sorom001,syndn001,1,0.256098,...,18.301632,1,2.722657,4.390192,-1.667536,-61.246644,1539.697126,1535.818786,3.878340,0.511161
46124,2019-09-29,2019,9,29,MIL,COL,housa001,hoffj003,1,0.230496,...,0.000000,1,4.390192,4.390192,0.000000,0.000000,1485.521165,1554.316475,-68.795310,0.311732
46125,2019-09-29,2019,9,29,SDN,ARI,baezm001,walkt004,1,0.218868,...,0.000000,1,4.390192,4.390192,0.000000,0.000000,1525.656785,1443.713781,81.943004,0.719787
46126,2019-09-29,2019,9,29,HOU,ANA,coleg001,peted001,0,0.196653,...,-32.815462,1,4.390192,2.619793,1.770399,40.326226,1465.726121,1567.938914,-102.212794,0.235634
46127,2019-09-29,2019,9,29,LAN,SFN,hillr001,rodrd001,0,0.213178,...,-47.985750,0,3.653676,3.885561,-0.231885,-6.346616,1487.540345,1556.709863,-69.169518,0.310808

In [12]:
BASEBALL_DATA_DF['home_rest'] = 0
BASEBALL_DATA_DF['away_rest'] = 0

In [13]:
# adding days of rest
# rest_days = dict(zip(list(set(BASEBALL_DATA_DF['home_team'])), [0 for _ in range(30)]))
last_game = dict(zip(list(set(BASEBALL_DATA_DF['home_team'])), [-1 for _ in range(30)]))

In [14]:
def home_rest(i):
    home_index = BASEBALL_DATA_DF.loc[i]['home_team']

    try:
        days_rest = (BASEBALL_DATA_DF.loc[i, 'dt'] - last_game[home_index]).days
        last_game[home_index] = BASEBALL_DATA_DF.loc[i, 'dt']
        return days_rest
    except:
        last_game[home_index] = BASEBALL_DATA_DF.loc[i, 'dt']
        return 5 # >= 5

def away_rest(i):
    away_index = BASEBALL_DATA_DF.loc[i]['away_team']

    try:
        days_rest = (BASEBALL_DATA_DF.loc[i, 'dt'] - last_game[away_index]).days
        last_game[away_index] = BASEBALL_DATA_DF.loc[i, 'dt']
        return days_rest
    except:
        last_game[away_index] = BASEBALL_DATA_DF.loc[i, 'dt']
        return 5 # >= 5

In [15]:
for i in range(len(BASEBALL_DATA_DF)):
    if (i % 4000 == 0):
        print(i)
    BASEBALL_DATA_DF.loc[i, 'home_rest'] = home_rest(i)
    BASEBALL_DATA_DF.loc[i, 'away_rest'] = away_rest(i)

0
4000
8000
12000
16000
20000
24000
28000
32000
36000
40000
44000

In [16]:
BASEBALL_DATA_DF.head()

,dt,Y,M,D,away_team,home_team,away_pitcher_id,home_pitcher_id,outcome,home_AVG,...,home_p_FIP,away_p_FIP,FIP_difference,FIP_difference_PCT,home_ELO,away_ELO,ELO_difference,E[ELO],home_rest,away_rest
0,2001-04-01,2001,4,1,TEX,TOR,hellr001,loaie001,1,0.273459,...,5.263956,5.052476,0.211481,4.017523,1496.828252,1462.450742,34.377511,0.597675,5,5
1,2001-04-02,2001,4,2,SLN,COL,kiled001,hampm001,1,0.290176,...,3.852216,4.278157,-0.425941,-11.057026,1487.470945,1529.964302,-42.493357,0.380077,5,5
2,2001-04-02,2001,4,2,SDN,SFN,willw001,hernl003,1,0.276079,...,3.946850,4.643874,-0.697024,-17.660257,1544.173611,1478.296302,65.877309,0.681015,5,5
3,2001-04-02,2001,4,2,MIL,LAN,wrigj001,parkc002,1,0.254198,...,4.260603,4.880234,-0.619630,-14.543251,1527.653270,1509.946671,17.706599,0.550788,5,5
4,2001-04-02,2001,4,2,ATL,CIN,burkj001,harnp001,0,0.272199,...,5.442492,4.016318,1.426174,26.204427,1544.192550,1512.406489,31.786061,0.590480,5,5

In [17]:
BASEBALL_DATA_DF.to_csv(PATH_TO_OUTPUT_DATA + 'MLB_INPUT.csv', index = False)